
*{
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body{
  background: #333; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition:ease-out, 800ms;
  height: 100vh;
}

#quote-box{
position: relative;
display: table;
width:500px;
 margin:12% auto auto auto;
border-radius: 5px;
background: white;
text-align: end;
padding-right: 25px;
transition:ease-in-out, 800ms;
}
#quote-text{
  padding:40px 50px;
  margin-bottom:-60px;
  text-align:center;
  width:450px;
  height:auto;
  clear:both;
  font-weight:500;
  font-size:1.5em;
  transition:ease-in-out, 300ms;
}
button{ 
  margin-bottom:10px;
  height:35px;
  width: 80px;
  border:1px solid transparent;
  border-radius: 5px;
  color:white; 
  transition:ease-in-out, 800ms
}
button:hover{
  cursor: pointer;
  /* background: ; */
}
button:focus {
  outline:0;
}
#buttonWrapper{
  margin-top: -35px;
}
#author{
  transition:ease-in-out,800ms;
  font-size: 14px;
  text-align: end;
}
#text{
  padding-left: 10px;
  box-sizing: border-box;
  line-height: 1.6em;
  transition:ease-in-out,300ms;
}

.icon{
  font-size:35px;
  padding-right: 10px;
  transition:ease-in-out,800ms;
}
#tweet-quote{
  position:relative;
  color: aqua;
  top:42px;
  margin-right: 500px;
  font-size: 50px;
}
